################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/T1.GeneralClasses/T1.Log/bin
